<a href="https://colab.research.google.com/github/leadeev/Numpy/blob/main/Numpy_Vs_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Vectorized operations

As you could see in the quest, one of the great strengths of Numpy are the vectorized operations. Numpy will not perform loops to do calculations, but rather perform operations in parallel.   
You can look at it this way:  
* Python --> loop --> serial (actions one after the other)
* Numpy --> vectorized operation --> in parallel (actions next to each other)

# Mission 1

Considering the object below, we want to calculate the sum for each row.  
That is, return the sum of `12 + 5`, then `8 + 32` etc...  
Find a way to return the sums of the 4 rows in a list, coding in Python. You must have 4 values in this list.

In [ ]:
my_list = [
           [12,5],
           [8,32],
           [25,6],
           [7,14]
]

# Python Way

sums = []

for row in my_list:
  sums.append(row[0] + row[1])

sums

[17, 40, 31, 21]

Now do the same thing, but this time coding in `Numpy`.  
`index`: You must first convert `my_list` to ndarray.

In [ ]:
import numpy as np
# Numpy way

my_array = np.array(my_list)

# Solution 1
print(list(my_array[:, 0] + my_array[:, 1]))

# Solution 2
list(my_array.sum(axis = 1))

[17, 40, 31, 21]

[17, 40, 31, 21]

# Mission 2

Find a way to return the sums of the 2 columns in a list, by coding in Python. You must have 2 values in this list.

In [ ]:
my_list = [
           [12,5],
           [8,32],
           [25,6],
           [7,14]
]

# Python Way

sums_1 = []
sums_2 = []

for row in my_list:
  sums_1.append(row[0])
  sums_2.append(row[1])

result = [sum(sums_1), sum(sums_2)]
result

[52, 57]

Now do the same thing, but coding this time in Numpy.  
This time you have to propose 2 different solutions, coding in Numpy each time.

In [ ]:
# Numpy Way

# Solution 1
print([np.sum(my_array[:,0]),np.sum(my_array[:,1])])

# Solution 2
list(my_array.sum(axis = 0))

[52, 57]

[52, 57]

# Mission 3

This time, you will have to return the sum of all the elements included in the object below, coding in `Python`.

In [ ]:
my_list = [
           [12,5],
           [8,32],
           [25,6],
           [7,14]
]

total = 0

for i in my_list:
  for val in i:
    total += val

total

109

As you might expect, you'll have to do this by coding in Numpy.
You can propose only one solution. There is a very simple one, and a very effective one too.

In [ ]:
my_array.sum()

109

# Mission 4

Find a way to calculate the following statistical indicators for any given one-dimensional array using NumPy functions, and use them on a array filled with 20 random floats.
- mode
- median
- average
- the range (the difference between max and min)
- standard deviation
- variance
- the different quantiles

In [ ]:
array = np.random.random(20)
print(array)

#mode : 
from scipy import stats as st
mode = st.mode(array)
print("mode : ",mode[0])

#médiane : 
médiane = np.median(array)
print("médiane : ", médiane)

#moyenne : 
moyenne = np.average(array)
print("moyenne : ", moyenne)

#range : 
min = np.min(array)
max = np.max(array)
range = max - min
print("range : ", range)

#stDev : 
stDev = np.std(array)
print("stDev : ",stDev)

#variance : 
var = np.var(array)
print("variance : ", var)

#quartiles : 
q = np.quantile(array, [0.25, 0.5, 0.75])
print("quartiles : ", q)

[0.63382597 0.44971495 0.62615944 0.63512258 0.65778718 0.91962897
 0.68066107 0.23812102 0.10356858 0.7976031  0.25010589 0.99405478
 0.93419837 0.12943466 0.32358018 0.96492612 0.47025553 0.78375172
 0.49894529 0.23101861]
mode :  [0.10356858]
médiane :  0.6299927072542113
moyenne :  0.5661231996260887
range :  0.8904862093070326
stDev :  0.27825462478372637
variance :  0.07742563621353234
quartiles :  [0.30521161 0.62999271 0.78721456]